%body
  %header チャットグループが作成されました。
  =render "shared/side_bar"
  %div.chat-main
    %div.chat-main_header
      %div
        %div.chat-main_header-group.clearfix
          testtes
        %div.chat-main_header-edit-group.btn.btn-outline-info
          Edit
      %div.chat-main_header-members
        testtesttesttesttesttesttesttest
    %div.chat-main_body
      %div.chat-main_body-messages-list
        %div.chat-main_message
          %div.chat-main_message-name message-name
          %div.chat-main_message-time 2018/10/10 11:11
          %div.chat-main_message-body
            %p message-body
            %img.chat-main_message-body-image
        %div.chat-main_message
          %div.chat-main_message-name message-name2
          %div.chat-main_message-time 2018/10/11 11:11
          %div.chat-main_message-body
            %p message-body2message-body2message-body2
            %img.chat-main_message-body-image
        %div.chat-main_message
          %div.chat-main_message-name message-name3
          %div.chat-main_message-time 2018/10/12 11:11
          %div.chat-main_message-body
            %p message-body3
            %img.chat-main_message-body-image
    %div.chat-main_footer
      %form.chat-main_footer-from#new_message{method: "post"}
        %div.chat-main_footer-body.input-group.mb-3
          %input.message#message_body.form-control{placeholder: "type a message", type: "text", name: "message[body]"}
          %button.chat-file.btn-default{type: "button", name: "message_image"}
            %i.fa.fa-image
          %input.submit.btn.btn-lg.btn-primary{type: "submit", name: "commit", value: "send"}
