header {
  background: #38aef0;
  text-align: center;
  color:#ffffff;
}

.chat-side {
  background-color: #2f3e51;
  color:#FFFFFF;
  float:left;
  height:100vh;
  width:300px;
}

.chat-side_user{
  line-height: 100px;
  height:100px;
  background-color:#253141;
}

.chat-side_user-content {
  height:100px;
  font-size: 16px;
  padding: 0 20px;
}

.chat-side_user-content > a {
  float:right;
  color:#ffffff;
  padding-left:5px
}

.chat-side_user-name {
  font-size:16px;
  font-weight: bold;
  display:inline-block;
}

.chat-side_user-new-group {

}

.fa {
}

.fa-pencil-square-o {}

.fa-cog {}

.chat-side_user-edit {}

.chat-side_groups {
  height:45px;
  background-color: #2f3e51;
  padding: 0 0 40px;
  margin: 0 20px 0;
}

.chat-side_group {
  padding:20px 0 40px;
}


.chat-side_group-name {
  font-size:15px;
  color:#ffffff;
}

.chat-side_group-message {
  font-size:11px;
  color:#ffffff;
}

.chat-main {
  height:100vh;
  width:calc(100% - 300px);
  float:right;
  right:0;
  top:24px;
  padding:0 40px 0 40px;
}

.chat-main_header {
  height:100px;
  border-bottom: #eeeeee solid thin;
  margin-bottom:46px;
}

.chat-main_header-group {
  padding: 35px 0 15px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
}

.chat-main_header-members {
  font-size:12px;
  line-height: 12px;
  color:#999999;
}

.chat-main_header-edit-group{
  float:right;
  margin: 28px 0 15px;
  font-size: 20px;
}

.chat-main_body {}

.chat-main_body-massages {}

.chat-main_body-messages-list {}

.clearfix {}

.chat-main_message {
  display:inline;
}

.chat-main_message-name {
  font-size: 16px;
  font-weight:bold;
  color: #434A54;
  display:inline-block;
  margin-right: 10px;
}

.chat-main_message-time {
  font-size: 9px;
  color: #999999;
  display:inline-block;

}

.chat-main_message-body {
  font-size: 14px;
  color: #434A54;
  width:100%;
  display:inline;

  p{
    margin-top:10px;
    margin-bottom:40px;
  }
}

.chat-main_message-body-image {}

.chat-main_footer {
  background: #e6e6e6;
  width:calc(100% - 300px);
  padding-right:40px;
  position: absolute;
  bottom: 0;
  right: 0;
  float:right;

}

.chat-main_footer-from {

}

#new_message {

}

.chat-main_footer-body {
  padding: 20px 0 20px;

}

.message {
}

#message_body {
  font-size: 16px;
  color: #434a54;
  padding-left:40px;
}

.chat-file {
  top:20;
  background: #ffffff;
}

.fa-image {
  background: #ffffff;
}

#message_image {}

.submit {
  background: #38aefd;
  margin-left: 15px;
}

