@import "./reset";
@import "./style";
@import "font-awesome";
@import "./user";
@import "./group";

.notice {
  background: green;
  color: white;
  text-align: center;
}

.alert {
  background: red;
  color: white;
  text-align: center;
}
